*{
  margin:0px;
  padding:0px;
}
html, body {
    position: relative;
    height: 100%;
    background-color:#3D3D3D;
}
body {
    background: #3D3D3D;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#fcfcfc;
    margin: 0;
    padding: 0;
}
.reload_icon_container{
  background-color:#3D3D3D;
  padding:20px;
}
.reload_icon{
  position: relative;
  top: 4px;
  left: 5px;
}
.reload_icon_text{
  color:#fcfcfc;
  text-align:right;
}
.swiper-container {
    width: 100%;
    height: 100%;
    background-color:#3D3D3D;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #3D3D3D;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.card_container{
  width:100%;
  height:50%;
}
.title_container{
  background-color:#3D3D3D;
  width:100%;
  height:60px;
  line-height:40px;
}
.title_text{
  color:#d3b158;
  text-align:left;
  margin-left:10px;
  font-size:20px;
}
.navigator_container{
  height:60px;
  background-color:#3D3D3D;
  width:100%;
}
.navigator_line{
  width:16.6%;
  height:1px;
  background-color:#3D3D3D;
  position:relative;
}
.menu{
  display:inline-block;
  width:16.6%;
  float:left;
  text-align:center;
}
.request_face_chat{
  line-height: 70px;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #d35886;
  color: #fcfcfc;
  z-index:1;
  text-align:center;
}
 .profile_text{
   width:200px;
   height:40px;
   line-height:40px;
   font-size:25px;
 }
.swiper-button-next{

}
 .content_contanier{


 }
 .content_select{
   box-shadow: -1px -1px 16px 3px;
 }
